/* default theme */

.navbar .support span,
.about span,
.features .feat:hover span.glyphicon,
.testimonial h4,
.footer h3,
.footer .copyright a,
#scroll-arrow {
    color: #9C27B0;
}
.dropdown-menu>li>a:hover,
.subscribe .btn-success,
.contact-us .btn-success,
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus,
.carousel-indicators .active,
.option-box .check-gear,
.features {
    background-color: #9C27B0;
}

.option-box .color-option,
.option-box .check-gear {
    border: 2px solid #9C27B0;
}

.carousel-indicators .active,
.features .feat span.glyphicon,
.subscribe .btn-success,
.contact-us .btn-success,
.subscribe .btn-success:hover
.contact-us .btn-success:hover {
    border: 1px solid #9C27B0;
}

.btn-success:hover {
    background-color: #891b9b;
}

.footer .copyright a:hover,
.carousel-caption .h1 {
    color: #b52acc;
}

.navbar-nav>li>.dropdown-menu {
    border-top: 4px solid #9C27B0;
}


.testimonial .carousel-indicators li.active {
    border: 3px solid #9C27B0;

}




