
/* General */
body {
    font-family: 'Comfortaa', cursive;
    height:5000px;
}


/*-------- Start Overriding Bootstrap ---------*/

/* ----Start NavBar---- */

body {
    padding-top: 70px;
}

.navbar {
    border-radius: 0;
    min-height: 70px;
    
}

.navbar .support {
    background: #e6e6e6;
    padding: 20px 0;
} 

.navbar .support span {
    float: right;
    line-height: 5px;
    color: #65af00;
    font-size: 15px;
    display: inline-block;
}

@media (max-width: 768px) {
    .navbar .support span {
        text-align: center;
        float: none
    }
    
    .navbar .support {
        text-align: center;
    } 
}

.navbar-toggle {
    margin-top: 18px;
}

/* Brand */

.navbar-inverse .navbar-brand {
    color: #fff;
    margin-top: auto
}

@media (max-width: 768px) {
    .navbar-inverse .navbar-brand
     {
        margin-top: -6px;
    }

}

.navbar-brand > img {
    width: 70px;
    float: left;
    margin-right: 10px;
}

.navbar-brand > span {
    font-size: 22px;
    line-height: 45px;
    
}

/* Active Link */
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #65af00;
    color: #fff;
}

/* Link Color */
.navbar-inverse .navbar-nav > li > a {
    color: #dedede;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 16px;
}



/* DrobDown MUue*/
.navbar-nav > li > .dropdown-menu {
    border-top: 4px solid #65af00;
    min-width: 180px;
   
}

.dropdown-menu > li > a {
    -webkit-transition: padding .5s ease;
    -moz-transition: padding .5s ease;
    -o-transition: padding .5s ease;
    transition: padding .5s ease;
}

.dropdown-menu > li > a:hover {
    background-color: #65af00;
    color: #fff;
    padding-left: 30px;
}


/* ----End NavBar---- */

/* ---- Start Slider ----*/

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    max-width: 100%;
    max-height: 100%;
    filter: brightness(35%);
}

.carousel-inner > .item {
    max-height: 600px;
    overflow: hidden
}

.carousel-caption {
    margin-bottom: 150px;

}

.carousel-caption h1 {
    color: #93ea1c;
}

.carousel-indicators .active {
    background-color: #65af00;
    border: 1px solid #65af00;
}

.carousel-control .glyphicon-menu-left,
.carousel-control .glyphicon-menu-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    font-size: 45px;
}
/* ---- End Slider ----*/

/*-------- End Overriding Bootstrap ---------*/

/* Start About */

.about {
    padding-top: 60px;
    padding-bottom: 60px;
    color: #333333;
}

.about span {
    color:#65af00;
}

.about p {
    color: #908c8c;
}

/* End About */

/* Start Features */

.features {
    background-color: #65af00;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}


.features .feat span.glyphicon {
    color:#fff;
    font-size: 40px;
    padding: 30px;
    border-radius: 50%;
    border: 1px solid #65af00;
    -webkit-transition: .7s ease;
    -moz-transition: .7s ease;
    -o-transition: .7s ease;
    transition: .7s ease;
    
    
} 

.features .feat:hover span.glyphicon {
    border: 1px solid #fff;
    color:#65af00;
    background-color: #fff;
    
        -webkit-transform: scale(1.1, 1.1) rotate(360deg);
    -moz-transform: scale(1.1, 1.1) rotate(360deg);
    -o-transform: scale(1.1, 1.1) rotate(360deg);
    transform: scale(1.1, 1.1) rotate(360deg);
}

.features .feat h3 {
    color: #fff;
}

.features .feat p {
    color: #d6d6d6;
    line-height: 1.9
}

/* End Features */


/* Start Testimonial */

.testimonial {
     background: url("../images/testimonial.jpg") no-repeat top ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 50px;
    margin-bottom: 50px;
    background-attachment: fixed;
 }

.testimonial .overlay {
    background-color: rgba(3,3,3,.85);
    width: 100%;
    height: 100%;
}

.testimonial h1 {
    color: #fff;
    padding-top: 70px;
    margin-bottom: 45px;
}

.testimonial p {
    color: #fff;
    line-height: 2em;
}

.testimonial h4 {
    color: #65af00;
    padding-top: 15px;
    padding-bottom: 5px;
}

.testimonial .carousel-indicators {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-left: auto;
}


.testimonial .carousel-indicators li {
    width: 80px;
    text-indent: 0;
    height: 80px;
    border: 0;
    border-radius: 50%;
    border: 3px solid #fff;
    opacity: .4;
    overflow: hidden;
    margin: 10px;
    -webkit-transition: all .6 ease;
    -moz-transition: all .6 ease;
    -o-transition: all .6 ease;
    transition: all .6s ease;
    
}

.testimonial .carousel-indicators li.active {
    border: 3px solid #65af00;
    opacity: 1;
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2) rotate(360deg);
    -o-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2)

}

.testimonial .carousel-indicators li img {
    max-width: 100%;
}

/* End Testimonial */

/* Start Price Plan */

.price_plan {
    background-color: #f7f7f7;
} 

.price_plan h1 {
    margin-top: 40px;
    margin-bottom: 30px;
    color: #525252;
}

.price_plan .price_box {
    background: #fff;
    border: 1px solid #d4d2d2;
    margin-bottom: 30px;
}

.price_plan .price_box h3 {
    font-size: 30px
}

.price_plan .price_box h3.text-success {
    color: #5cb85c
}

.price_plan .price_box h3.text-warning {
    color: #f0ad4e
}

.price_plan .price_box h3.text-danger {
    color: #d9534f
}

.price_plan .price_box p {
    font-size: 25px;
    margin-top: 20px;
    font-weight: 700;
    color: #535353;
    width: 70px;
    height: 70px;
    background: #e5e5e5;
    line-height: 70px;
    border-radius: 50%;
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    transition-duration: 0.7s;
    border: 2px solid #fff;
}

.price_plan .price_box:hover p {
    -webkit-transform: scale(1.1, 1.1) rotate(360deg);
    -moz-transform: scale(1.1, 1.1) rotate(360deg);
    -o-transform: scale(1.1, 1.1) rotate(360deg);
    transform: scale(1.1, 1.1) rotate(360deg);
    border: 2px solid #c9c9c8;
}

.price_plan .price_box ul {
    margin-top: 28px;
}

.price_plan .price_box li {
    line-height: 280%;
    color: #5c5c5c
}

.price_plan .price_box .btn {
    margin-bottom: 20px
}

/* End Price Plan */
