/* General */

body {
    font-family: 'Comfortaa', cursive;
}


/*-------- Start Overriding Bootstrap ---------*/


/* ----Start NavBar---- */

body {
    padding-top: 50px;
}

.navbar {
    border-radius: 0;
    min-height: 50px;
}

.navbar .support {
    background: #e6e6e6;
    padding: 20px 0;
}

.navbar .support span {
    float: right;
    line-height: 5px;
    font-size: 15px;
    display: inline-block;
}

@media (max-width: 768px) {
    .navbar .support span {
        text-align: center;
        float: none
    }
    .navbar .support {
        text-align: center;
    }
}

.navbar-toggle {
    margin-top: 18px;
}


/* Brand */

.navbar-inverse .navbar-brand {
    color: #fff;
    margin-top: auto
}

@media (max-width: 768px) {
    .navbar-inverse .navbar-brand {
        margin-top: -6px;
    }
}

.navbar-brand>img {
    width: 70px;
    float: left;
    margin-right: 10px;
}

.navbar-brand>i {
    color: #a80000;
    font-size: 50px
}

.navbar-brand>span {
    font-size: 22px;
    line-height: 45px;
}


/* Active Link */

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    color: #fff;
}


/* Link Color */

.navbar-inverse .navbar-nav>li>a {
    color: #dedede;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 16px;
}


/* DrobDown MUue*/

.navbar-nav>li>.dropdown-menu {
    min-width: 180px;
}

.dropdown-menu>li>a {
    -webkit-transition: padding .5s ease;
    -moz-transition: padding .5s ease;
    -o-transition: padding .5s ease;
    transition: padding .5s ease;
}

.dropdown-menu>li>a:hover {
    color: #fff;
    padding-left: 30px;
}

@media (max-width: 767px) {
    .navbar-brand>img {
        width: 50px;
        margin-top: 6px;
    }
    .navbar-brand>span {
        font-size: 18px;
    }
    .navbar-toggle {
        margin-top: 13px;
    }
    .navbar-inverse .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}
}




/* ----End NavBar---- */


/* ---- Start Slider ----*/

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    max-width: 100%;
    max-height: 100%;
    filter: brightness(35%);
}

.carousel-inner>.item {
    max-height: 600px;
    overflow: hidden
}

.carousel-caption {
    margin-bottom: 10%;
}




.carousel-control .glyphicon-menu-left,
.carousel-control .glyphicon-menu-right {
    top: 50%;
    font-size: 45px;
}

@media (max-width: 767px) {
    .carousel-caption {
        margin-bottom: 10%;
    }
    .carousel-caption h1 {}
}


/* ---- End Slider ----*/


/*-------- End Overriding Bootstrap ---------*/


/* Start Option Box */

.option-box {
    position: fixed;
    top: 100px;
    left: 0;
}

.option-box .color-option {
    background: #333;
    color: #fff;
    padding: 5px 50px 5px 5px;
    float: left;
    display: none;
}

.option-box .color-option ul {
    display: inline-block;
    padding: 5px

}

.option-box .color-option ul li {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;
    cursor: pointer;
}

.option-box .check-gear {
    padding: 2px;
    color: #fff;
    cursor: pointer;
}

/* End Option Box */


/* Start About */

.about {
    padding-top: 60px;
    padding-bottom: 60px;
    color: #333333;
}



.about p {
    color: #908c8c;
}


/* End About */


/* Start Features */

.features {
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.features .feat span.glyphicon {
    color: #fff;
    font-size: 40px;
    padding: 30px;
    border-radius: 50%;
    -webkit-transition: .7s ease;
    -moz-transition: .7s ease;
    -o-transition: .7s ease;
    transition: .7s ease;
}

.features .feat:hover span.glyphicon {
    border: 1px solid #fff;
    background-color: #fff;
    -webkit-transform: scale(1.1, 1.1) rotate(360deg);
    -moz-transform: scale(1.1, 1.1) rotate(360deg);
    -o-transform: scale(1.1, 1.1) rotate(360deg);
    transform: scale(1.1, 1.1) rotate(360deg);
}

.features .feat h3 {
    color: #fff;
}

.features .feat p {
    color: #d6d6d6;
    line-height: 1.9
}


/* End Features */


/* Start Testimonial */

.testimonial {
    background: url("../images/testimonial.jpg") no-repeat top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.testimonial .overlay {
    background-color: rgba(3, 3, 3, .75);
    width: 100%;
    height: 100%;
}

.testimonial h1 {
    color: #fff;
    padding-top: 60px;
    margin-bottom: 45px;
}

.testimonial p {
    color: #fff;
    line-height: 2em;
}

.testimonial h4 {
    padding-top: 15px;
    padding-bottom: 5px;
}

.testimonial .carousel-indicators {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-left: auto;
}

.testimonial .carousel-indicators li {
    width: 80px;
    text-indent: 0;
    height: 80px;
    border: 0;
    border-radius: 50%;
    border: 3px solid #fff;
    opacity: .4;
    overflow: hidden;
    margin: 10px;
    -webkit-transition: all .6 ease;
    -moz-transition: all .6 ease;
    -o-transition: all .6 ease;
    transition: all .6s ease;
}

.testimonial .carousel-indicators li.active {
    opacity: 1;
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2) rotate(360deg);
    -o-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2)
}

.testimonial .carousel-indicators li img {
    max-width: 100%;
}


/* End Testimonial */


/* Start Price Plan */

.price_plan {
    background-color: #f7f7f7;
}

.price_plan h1 {
    margin-top: 40px;
    margin-bottom: 30px;
    color: #525252;
}

.price_plan .price_box {
    background: #fff;
    border: 1px solid #d4d2d2;
    margin-bottom: 30px;
}

.price_plan .price_box h3 {
    font-size: 30px
}

.price_plan .price_box h3.text-success {
    color: #5cb85c
}

.price_plan .price_box h3.text-warning {
    color: #f0ad4e
}

.price_plan .price_box h3.text-danger {
    color: #d9534f
}

.price_plan .price_box p {
    font-size: 25px;
    margin-top: 20px;
    font-weight: 700;
    color: #535353;
    width: 70px;
    height: 70px;
    background: #e5e5e5;
    line-height: 70px;
    border-radius: 50%;
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    transition-duration: 0.7s;
    border: 2px solid #fff;
}

.price_plan .price_box:hover p {
    -webkit-transform: scale(1.1, 1.1) rotate(360deg);
    -moz-transform: scale(1.1, 1.1) rotate(360deg);
    -o-transform: scale(1.1, 1.1) rotate(360deg);
    transform: scale(1.1, 1.1) rotate(360deg);
    border: 2px solid #c9c9c8;
}

.price_plan .price_box ul {
    margin-top: 28px;
}

.price_plan .price_box li {
    line-height: 280%;
    color: #5c5c5c;
    border-bottom: 1px solid #f1f1f1;
}

.price_plan .price_box .btn {
    margin-bottom: 20px
}


/* End Price Plan */


/* Start Our Team */

.our_team {
    background: url("../images/our_team.jpg") no-repeat fixed center center;
    background-size: cover;
    color: #fff;
    min-height: 600px;
}

.our_team .team {
    background-color: rgba(3, 3, 3, .75);
    min-height: 600px;
}

.our_team .team h1 {
    padding-top: 60px;
    margin-bottom: 70px;
}

.our_team .team .person {
    padding-bottom: 30px;
}

.our_team .team .person img {}

.our_team .team .person h4 {
    padding-top: 5px;
}

.our_team .team .person i {
    color: #dddddd;
    margin-right: 3px;
    margin-top: 5px;
}


/* End Our Team */


/* Start Subscribtion */

.subscribe {
    background-color: #f7f7f7;
}

.subscribe h1 {
    margin-top: 40px;
    margin-bottom: 30px;
    color: #525252;
}

.subscribe p {
    color: #9a9a9a
}

.subscribe .form-inline {
    margin-bottom: 40px;
}

.subscribe .form-control {
    margin-right: -5px;
    border-radius: 6px 0 0px 6px;
    padding-right: 90px;
    margin-top: 10px;
}

.subscribe .btn {
    border-radius: 0 6px 6px 0;
    margin-top: 10px;
}

.subscribe .btn i {
    padding-right: 10px
}


/* End Subscribtion */


/* Start Statstics */

.stats {
    background: url(../images/stats.jpg) no-repeat center center fixed;
    min-height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.stats .data {
    background: rgba(3, 3, 3, .75);
    min-height: 400px;
    color: #dedede;
    padding-top: 60px;
    padding-bottom: 80px;
}

.stats .data .element {
    margin-bottom: 30px;
}

.stats .data .element:hover {
    color: #fff;
}

.stats h1 {
    margin-bottom: 70px;
    color: #fff;
}

.stats i {
    font-size: 90px
}

.stats p {
    font-size: 60px;
    margin-bottom: -5px;
    font-weight: 700;
    margin-top: 5px
}

.stats span {
    font-size: 18px;
    letter-spacing: 2px;
}


/* End Statstics */


/* Start Skill */

.skill {
    margin-top: 40px;
    margin-bottom: 60px
}

.skill h1 {
    margin-bottom: 40px;
}

.skill .progress {
    height: 42px;
    margin-top: 22px;
}

.skill .progress-bar {
    line-height: 42px;
    font-size: 15px;
}

.skill .progress-bar span {
    display: block;
    text-align: left;
    text-indent: 10px;
}

.skill .about-team h3 {
    color: #5d5d5d;
    font-weight: bold
}

.skill .about-team p {
    color: #797979
}


/* End Skill */


/* Start Contact Us */

.contact-us {
    background: url(../images/contact-us.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 500px;
}

.contact-us .data {
    background: rgba(3, 3, 3, .7);
    color: #e8e8e8;
    min-height: 500px;
    padding-top: 60px;
    padding-bottom: 80px;
}

.contact-us .data p {
    font-size: 16px;
    letter-spacing: 2px;
    margin-bottom: 40px
}

.contact-us textarea.form-control {
    height: 109px;
    resize: none
}

.contact-us input[type="text"],
.contact-us textarea {
    background: rgba(82, 78, 78, 0.5);
    color: #e6e6e6;
    border: none
}


/* End Contact Us */


/* Start Sponsored */

.sponsor {
    background: #f7f7f7;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sponsor img {
    filter: grayscale(1);
    opacity: .4;
    padding-top: 20px;
    padding-bottom: 20px;
}


/* End Sponsored */


/* Start Footer */

.footer {
    background: #252525;
    color: #d3d3d3;
    padding-top: 20px;
    padding-bottom: ;
    margin-bottom: 0
}

.footer h3 {
    margin-bottom: 25px
}

.footer .site-map li {
    width: 33.33333333%;
    padding-bottom: 15px;
    float: left
}

.footer .site-map li a {
    color: #c1c1c1
}

.footer .site-map li a:hover {
    color: #fff;
    text-decoration: none
}

.footer social-icon {
    margin-top: 20px;
}

.footer .social-icon li {
    float: left;
    padding-right: 8px;
    margin-top: 20px;
    width: 16.666666666%;
    margin-bottom: 30px;
}

.footer .social-icon li img {
    width: 45px
}

.footer .media img {
    width: 64px
}

.footer .img-thumbnail {
    padding: 0;
    padding-bottom: 4px;
    background-color: #252525;
    border: none;
    border-radius: 0
}

.footer p.copyright {
    background: rgba(70, 70, 70, 0.2);
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
    margin-bottom: 0;
}



.footer .copyright a:hover {
    text-decoration: none
}


/* End Footer */
